.fc-forgot-password-modal {
  .modal {
    width: 100%;
    max-width: 35em;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {
    width: 100%;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding: 0;
    display: flex;
  }

  .modal-header span {
    font-size: 1.33em;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content > div {
    width: 100%;
    box-sizing: border-box;
    max-width: 20em;
  }

  .forget-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  .forget-description {
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0;
    box-sizing: border-box;
    width: 100%;
  }

  .btn {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.5em;
    max-width: 22.5em;
  }

  .input-container {
    margin-bottom: 1.5em;
  }

  .icon-container {
    background-color: var(--blue-1);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container-wrapper {
    background-color: rgba(70, 167, 248, 0.1);
    width: 8em !important;
    height: 8em;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 1em;
  }

  .icon-container i {
    font-size: 2em;
  }
}
