.fc-password-change-modal {
  max-width: 100%;
  width: 25em;
  max-height: 100%;
  height: auto;

  .modal {
    max-width: 100%;
    width: 25em;
    max-height: 100%;
    height: auto;
  }

  .password-requirements i {
    margin-right: 0.25em;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .modal-header span {
    font-size: 1.33em;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
  }

  .modal-footer .btn {
    margin-left: 1em;
  }

  .password-requirements {
    font-size: 0.8em;
    margin-top: -0.3em;
    margin-bottom: 0.5em;
  }

  .password-requirement {
    color: var(--red-1);
    flex: 0 0 auto;
    margin: 0.2em 0 0.2em 1em;
  }

  .password-requirement-description {
    margin: 0.2em 0 0.2em 1em;
    font-weight: bold;
    color: var(--dark-blue-1);
  }

  .password-requirement.minimum-reached {
    color: var(--dark-blue-1);
  }

  .password-requirement.success {
    color: var(--green-1);
  }

  .password-requirement i.fa-check-circle {
    display: none;
  }

  .password-requirement.success i.fa-times-circle {
    display: none;
  }

  .password-requirement.success i.fa-check-circle {
    display: inline;
  }
}
