.fc-user-vault-album-select-modal {
  width: 30em;
  max-width: 100%;
  height: auto;
  max-height: 100%;

  .modal {
    width: 30em;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-content {
    position: relative;
  }

  .bubble {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
  }

  .bubble i {
    line-height: 1;
  }
}
