.fc-user-vault-album-delete-modal {
  width: 25em;
  max-width: 100%;
  height: auto;
  max-height: 100%;

  .modal {
    width: 25em;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .modal-content {
    overflow: hidden;
    position: relative;
  }
}
