.fc-password-reset-verify-route {
  .page-content {
    padding: 0.5em 0.5em 0em 0.5em;
    margin: 0 1em 0 1.25em;
    box-sizing: border-box;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .material-input {
    width: 100%;
    max-width: 20em;
  }

  .password-requirements i {
    margin-right: 0.25em;
  }

  .btn {
    align-self: flex-start;
  }

  .password-requirements {
    font-size: 0.8em;
    margin-top: 0.2em;
  }

  .password-requirement {
    color: var(--red-1);
    flex: 0 0 auto;
    margin: 0.2em 0 0.2em 1em;
  }

  .password-requirement-description {
    margin: 0.2em 0 0.2em 1em;
    font-weight: bold;
    color: var(--dark-blue-1);
  }

  .password-requirement.minimum-reached {
    color: var(--dark-blue-1);
  }

  .password-requirement.success {
    color: var(--green-1);
  }

  .password-requirement i.fa-check-circle {
    display: none;
  }

  .password-requirement.success i.fa-times-circle {
    display: none;
  }

  .password-requirement.success i.fa-check-circle {
    display: inline;
  }
}
