.fc-account-banner {
  position: relative;
  display: flex;
  width: 3em;
  height: 3em;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}

.fc-account-banner {
  .banner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .default-banner {
    background-color: var(--dark-3);
    background: radial-gradient(
      circle,
      var(--radial-bg-1) 5%,
      var(--radial-bg-2) 250%
    );
  }
}
