.fc-profile-media-offers-route {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .grid-media-item {
    width: 100%;
    height: 100%;
  }

  .spacer {
    width: 100%;
    flex: 0 0 auto;
  }

  .gallery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .render-container {
    margin: 3px;
    flex: 1 1 190px;
    max-width: 350px;
    height: 190px;
    overflow: hidden;
    position: relative;
  }

  .render-container:empty {
    flex: 1 1 190px;
    height: 0;
    margin: 0 3px;
  }

  .fc-account-media .video-footer {
    display: none;
  }

  .fc-account-media .stats-overlay.video {
    display: flex;
  }

  @media only screen and (max-width: 500px) {
    .render-container {
      margin: 3px;
      flex: 1 1 150px;
      max-width: 250px;
      height: 150px;
    }

    .render-container:empty {
      flex: 1 1 150px;
      height: 0;
      margin: 0 3px;
    }
  }
}
