.fc-tipped-permission-flag {
  .permission-input {
    padding: 0;
    background-color: transparent;
    color: var(--pure-white);
    margin: 0;
    width: 3em;
    border: none;
    font-size: 1em;
    line-height: 1;
    border-radius: none;
    box-sizing: border-box;
    margin: -0.2em 0 -0.2em 0;
    font-family: 'Roboto', sans-serif;
  }

  .gem-amount {
    box-sizing: border-box;
  }
}
